/**
 * Search
 */
.search-results {

}
.search-results .result {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
    padding: 8px;
}
.search-results .result h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px;
}
.search-results .result p {
    font-size: 12px;
    line-height: 16px;
    max-height: 40px;
    color: #666;
}
.search-results .result span {
    color: #090;
    font-style: italic;
    font-size: 12px;
}
.search-results .result .thumb {
    float: left;
    margin-right: 20px;
}
.search-results .result .thumb img {
    width: 100px;
    height: 100px;
}
.search-results .result .meta {
    width: 600px;
    float: left;
}

/**
 * Global Search Bar
 */
.navbar .navbar-form {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #999;
    margin-left: 15px;
}
.navbar-form .form-control {
    height: 36px;
    border-radius: 0;
}
.navbar input, .navbar input {
    width: 60px;
    background: transparent;
    padding: 11px 15px 11px 0;
    color: #999;
    border: none;
    -webkit-transition: width 0.4s, background 0.4s;
}
.navbar input:hover, .navbar input:focus {
    width: 200px;
    color: #fff;
    z-index: 1;
}
.navbar input.active, .navbar input[type=text]:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar .glyphicon-search {
    position: absolute;
    top: 9px;
    right: 12px;
    font-size: 16px;
}

.search-results-instant {
    margin-top: -4px;
    display: none;
    background: #fff;
    top: 36px;
    left: 0;
    border: 1px solid #ccc;
    border-top-width: 0;
    z-index: 2;
}
.search-results-instant ul {
    list-style: none;
    border-top: 1px dotted #e5e5e5;
    padding: 5px 0;
    margin: 0;
}
.search-results-instant li a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search-results-instant li.active a {
    color: #f7f7f7;
    background: #428bca;
}
.search-results-instant a b {
    color: #000;
}
.search-results-instant li.active a b {
    color: #fff;
}
.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: #ccc;
}


/**
 * Search Page
 */
.search-page-form {
    position: relative;
}
.search-page-form .icon-search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
}
.search-page-query-box {
    padding-left: 30px;
}

/*
@media (max-width: 991px) {
    .navbar form, .navbar input {
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .navbar form {
        margin-bottom: 14px;
    }
    .navbar-nav {
        float: none;
    }
    .search-results-instant {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (min-width: 1200px) {
    .navbar input {
        width: 360px;
    }
    .search-results-instant {
        width: 360px;
    }
}
*/
