{% if site.environment == 'production' %}
<div class="sidebar-sponsor">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:250px;height:250px"
         data-ad-client="ca-pub-0889228315253947"
         data-ad-slot="1331060184"></ins>
    <script>
    if (document.body.clientWidth >= 1200) {
        (adsbygoogle = window.adsbygoogle || []).push({});
    }
    </script>
</div>
{% endif %}

<div class="panel panel-primary">
  <h3 class="panel-heading">Recent Posts</h3>
  <ul class="list-nostyle">
{% for post in site.posts limit:5 %}
    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
  </ul>
</div>

<div class="panel panel-info">
  <h3 class="panel-heading">Popular Tags</h3>
  <ul class="list-nostyle popular-tags clearfix">
    <li><a href="/tag/open-source" title="Open Source Posts"><span class="label">Open Source</span></a></li>
    <li><a href="/tag/github" title="Github Posts"><span class="label">Github</span></a></li>
    <li><a href="/tag/php" title="PHP Posts"><span class="label">PHP</span></a></li>
    <li><a href="/tag/git" title="Git Posts"><span class="label">Git</span></a></li>
    <li><a href="/tag/nginx" title="Nginx Posts"><span class="label">Nginx</span></a></li>
    <li><a href="/tag/ruby" title="Ruby Posts"><span class="label">Ruby</span></a></li>
    <li><a href="/tag/criterion" title="Criterion Posts"><span class="label">Criterion</span></a></li>
    <li><a href="/tag/linux" title="Linux Posts"><span class="label">Linux</span></a></li>
    <li><a href="/tag/romhut" title="Romhut Posts"><span class="label">Romhut</span></a></li>
    <li><a href="/tag/digital-ocean" title="Digital Ocean Posts"><span class="label">Digital Ocean</span></a></li>
    <li><a href="/tag/programming" title="Programming Posts"><span class="label">Programming</span></a></li>
    <li><a href="/tag/mongodb" title="MongoDB Posts"><span class="label">MongoDB</span></a></li>
    <li><a href="/tag/ubuntu" title="Ubuntu Posts"><span class="label">Ubuntu</span></a></li>
    <li><a href="/tag/mobile" title="Mobile Posts"><span class="label">Mobile</span></a></li>
  </ul>
</div>
