/**
 * Post List
 */
.blog-post-list {

}
.blog-post-list .post {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #e5e5e5;
}
.blog-post-list .post:first-child {
    padding-top: 0;
}
.blog-post-list .post:hover {

}
.blog-post-list .title {
    margin: 0;
    padding: 0;
    /*font-family: "Yanone Kaffeesatz";*/
    font-size: 22px;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    color: #000;
    margin-bottom: 0px;
}
.blog-post-list .snippet {
    color: #555;
    margin: 10px 0;
}
.blog-post-list .info:after {
    display: block;
    content: '';
    clear: both;
}
.blog-post-list .tags {
    float: left;
    width: 500px;
    line-height: 22px;
}
.blog-post-list .tags .label {

}
.blog-post-list .date {
    float: right;
    padding-top: 2px;
}
.twitter-timeline {
    display: block;
    height: 578px;
    line-height: 578px;
    background: #fff;
    text-align: center;
    color: #666;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}


/**
 * Post Page
 */
.blog-post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.blog-post .post {
    margin-bottom: 20px;
}
.blog-post .title {
    margin: 0;
    padding: 0;
    height: 40px;
}
.blog-post .content {
    color: #666;
    margin: 10px 0 20px 0;
}

.blog-post .info:after {
    display: block;
    content: '';
    clear: both;
}
.blog-post .tags {
    float: left;
}
.blog-post .date {
    float: right;
}
.blog-post .thumbnail {
    width: 25%;
    margin: 0 15px 15px 0;
    border: none;
    padding: 0;
}
@media (max-width: 767px) {
    .blog-post .thumbnail {
        width: 100%;
        float: none;
        margin: 20px 0;
    }
}


/**
 * Sidebar
 */
.blog-sidebar .panel ul {
    list-style: none;
    padding: 0px 0;
    margin: 0;
}
.blog-sidebar .panel li {
    display: block;
    padding: 5px 5px;
}
.blog-sidebar .panel a {
    display: block;
    color: #666;
}
.blog-sidebar .panel a:hover {
    color: #000;
    text-decoration: none;
}
.blog-sidebar .affix {
    width: 360px;
}
@media (max-width: 1200px) {
    .blog-sidebar .affix {
        width: 283px;
    }
    .visible-lg {
       display: none !important;
    }
}
@media (max-width: 767px) {
    .blog-sidebar {
        display: none;
    }
}


/**
 * Sponsor
 */
.blog-sidebar .sidebar-sponsor {
    width: 250px;
    height: 250px;
    padding: 6px;
    background: #e5e5e5;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
@media (max-width: 1200px) {
    .blog-sidebar .sidebar-sponsor {
        display: none;
    }
}
.post-sponsor {
    width: 728px;
    height: 90px;
    background: #ccc;
    margin: auto;
    margin-bottom: 20px;
}
@media (max-width: 1200px) {
    .post-sponsor {
        display: none;
    }
}

/**
 * Popular Tags
 */
.blog-sidebar .panel .popular-tags li {
    float: left;
}
