.about-head {
	border-bottom: 1px solid #ccc;
	padding-bottom: -20px;
}
.about-head-avatar a {
	display: block;
	width: 100%;
	min-height: 100px;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 0 1px;
	overflow: hidden;
	background: #fff;
	padding: 0px;
}
.about-head-avatar img {
	width: 100%;
}
.about-head-info {
	position: relative;
	height: 90px;
	padding: 5px 0;
	color: #555;
}
.about-head-info h2 {
	font-size: 24px;
	line-height: 24px;
	margin: 0px 0 5px 0;
}
.about-head-json {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	color: #555;
}

/**
 * Interests
 */
.about-interests {

}
.about-interests h4 {
	margin: 20px 0 10px 0;
	text-transform: uppercase;
	color: #555;
}
.about-interests .col {
	padding-top: 20px;
	height: 200px;
}
