body {
  padding: 0;
  background: #333;
}
.page-content {
  padding-top: 63px;
  background: #fff;
}

/* Footer */
.footer {
  border-top: 1px solid #999;
  padding: 14px;
  color: #ccc;
  & a {
    color: inherit;
    @include transition(color .2s);
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
@media (max-width: 991px) {
  .footer {
    & [class^="col"] {
      text-align: center;
    }
    & [class^="col"]:last-child {
      margin-top: 15px;
    }
  }
}
