.navbar {
  & a {
    @include transition(color .1s);
  }
  & .navbar-brand {
    margin: 0;
    padding: 0;
  }
  & .navbar-brand a {
    display: block;
    padding: 14px 15px;
    color: inherit;
    text-decoration: none;
  }
  & .container-fluid {
    padding-right: 5px;
  }
  & .form-group {
    position: relative;
  }
  & .fa-search {
    position: absolute;
    top: 9px;
    right: 9px;
  }
}
