$font-size-base: 16px;
$border-radius-base: 0.1875em;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

// Navbar
$navbar-inverse-bg: #333;
$navbar-inverse-color: rgba(255, 255, 255, 0.7);
$navbar-inverse-link-active-bg: transparent;
