<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    {% if post.excerpt %}<meta name="description" content="{{ post.excerpt | strip_html }}"/>{% elsif page.description %}<meta name="description" content="{{ page.description }}"/>{% else %}<meta name="description" content="{{ site.description }}"/>{% endif %}
    {% if page.canonical %}<link rel="canonical" href="{{ site.url }}{{ page.canonical }}"/>{% else %}<link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}"/>{% endif %}
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png"/>
    <link rel="alternate" type="application/rss+xml" title="My Personal Tech Blog" href="{{ site.url }}/feed.xml"/>
    <link rel="stylesheet" href="{{ site.url }}{% asset_path app.css %}"/>
</head>
<body>

<!-- Navigation -->
<div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <a href="{{ site.url }}" title="Marc Qualie" class="navbar-brand">Marc <strong>Qualie</strong></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li{% if page.class == 'posts' %} class="active"{% endif %}><a href="{{ site.url }}" title="Marc Qualie's Latest Posts">Blog</a></li>
          <li{% if page.class == 'projects' %} class="active"{% endif %}><a href="{{ site.url }}/projects/" title="Marc Qualie's Projects">Projects</a></li>
          <li{% if page.class == 'about' %} class="active"{% endif %}><a href="{{ site.url }}/about/" title="About Marc Qualie">About</a></li>
          <li><a href="https://twitter.com/marcqualie" title="Follow Marc Qualie on Twitter" target="_blank"><span class="icon-twitter"></span> Follow Me</a></li>
          <li><a href="https://github.com/marcqualie" title="Fork Marc Qualie on Github" target="_blank"><span class="icon-github"></span> Fork Me</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="{{ site.url }}/feed.xml"><span class="icon-rss"></span> Subscribe</a></li>
          <li><a href="javascript:void(0)" id="search-button"><span class="icon-search"></span> Search</a></li>
        </ul>
      </div>
      <form id="search-form" action="{{ site.url }}/search" class="hidden">
        <input type="text" class="form-control" id="search-query" name="q" value="" placeholder="Start typing here.."/>
        <div id="search-results">
          <div class="entries"></div>
        </div>
      </form>
    </div>
</div>

<!-- Main Page Content -->
<div class="container spacer-top">
  <div class="row">

    <div class="col col-lg-9 blog-post-list">
      {{ content }}
    </div>

    <!-- Sidebar -->
    <div class="col col-lg-3 blog-sidebar">
      {% include sidebar.html %}
    </div>

  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col col-lg-3">
        &copy; <a href="{{ site.url }}" title="Marc Qualie">Marc Qualie</a>
      </div>

      <div class="col col-lg-9 text-right">
        <a href="https://www.digitalocean.com/?refcode=4f6e23440060" target="_blank" title="Digital Ocean"><span class="glyphicon glyphicon-share"></span> Hosted on Digital Ocean</a>
        &nbsp; &nbsp; &nbsp;
        <a href="https://plus.google.com/107346357165350603625?rel=author">Google+</a>
      </div>

    </div>
  </div>
</div>

{% raw %}
<!-- Search Template -->
<script id="search-results-template" type="text/mustache">
{{#entries}}
  <article>
    <h3><a href="{{url}}">{{title}}</a></h3>
    {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
  </article>
{{/entries}}
</script>
{% endraw %}

<!-- Scripts -->
<script src="{{ site.url }}{% asset_path app.js %}"></script>

{% if site.analytics.google.id and site.environment == 'production' %}
<!-- Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics.google.id }}']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_setDomainName', 'marcqualie.com']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>
