<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }}</title>
  {% if post.excerpt %}<meta name="description" content="{{ post.excerpt | strip_html }}"/>{% elsif page.description %}<meta name="description" content="{{ page.description }}"/>{% else %}<meta name="description" content="{{ site.description }}"/>{% endif %}
  {% if page.canonical %}<link rel="canonical" href="{{ site.url }}{{ page.canonical }}"/>{% else %}<link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}"/>{% endif %}
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <link rel="alternate" type="application/rss+xml" title="My Personal Tech Blog" href="{{ site.url }}/feed.xml"/>
  <link rel="stylesheet" href="{{ site.cdn_host }}{% asset_path app.css %}"/>
</head>
<body>

<!-- Navigation -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand"><a href="{{ site.url }}" title="Marc Qualie">Marc <strong>Qualie</strong></a></h1>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.class == 'posts' %} class="active"{% endif %}><a href="/" title="Marc Qualie's Latest Posts">Blog</a></li>
        <li{% if page.class == 'projects' %} class="active"{% endif %}><a href="/projects/" title="Marc Qualie's Projects">Projects</a></li>
        <li{% if page.class == 'about' %} class="active"{% endif %}><a href="/about/" title="About Marc Qualie">About</a></li>
        <li><a href="https://twitter.com/marcqualie" title="Follow Marc Qualie on Twitter" target="_blank"><span class="fa fa-twitter"></span> <span class="hidden-sm">Follow Me</span></a></li>
        <li><a href="https://github.com/marcqualie" title="Fork Marc Qualie on Github" target="_blank"><span class="fa fa-github"></span> <span class="hidden-sm">Fork Me</span></a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/feed.xml"><span class="fa fa-rss"></span> Subscribe</a></li>
        <li><a href="/search"><span class="fa fa-search"></span> Search</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Main Page Content -->
<div class="container spacer-top">
  <div class="row">

    <div class="col col-lg-9 blog-post-list">
      {{ content }}
    </div>

    <!-- Sidebar -->
    <div class="col col-lg-3 blog-sidebar">
      {% include sidebar.html %}
    </div>

  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col col-lg-3">
        &copy; <a href="{{ site.url }}" title="Marc Qualie">Marc Qualie</a>
      </div>

      <div class="col col-lg-9 text-right">
        <a href="https://www.digitalocean.com/?refcode=4f6e23440060" target="_blank" title="Digital Ocean"><span class="fa fa-cloud"></span> Hosted on Digital Ocean</a>
        &nbsp; &nbsp; &nbsp;
        <a href="https://plus.google.com/107346357165350603625?rel=author"><span class="fa fa-google-plus"></span> Google+</a>
      </div>

    </div>
  </div>
</div>

{% raw %}
<!-- Search Template -->
<script id="search-results-template" type="text/mustache">
{{#entries}}
  <article>
    <h3><a href="{{url}}">{{title}}</a></h3>
    {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
  </article>
{{/entries}}
</script>
{% endraw %}

<!-- Scripts -->
<script src="{{ site.cdn_host }}{% asset_path app.js %}"></script>
{% if page.name == 'search' %}
<script src="{{ site.cdn_host }}{% asset_path search.js %}"></script>
{% endif %}

{% if site.analytics.google.id and site.environment == 'production' %}
<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.analytics.google.id }}', '{{ site.analytics.google.domain }}');
  ga('send', 'pageview');
</script>
{% endif %}

</body>
</html>
