<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/search.css"/>
    <link rel="stylesheet" href="/css/syntax.css"/>
</head>
<body>

<div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <a href="/" title="Marc Qualie" class="navbar-brand">Marc <strong>Qualie</strong></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.class == 'posts' %} class="active"{% endif %}><a href="/" title="Marc Qualie's Latest Posts">Blog</a></li>
                <li{% if page.class == 'projects' %} class="active"{% endif %}><a href="/projects/" title="Marc Qualie's Projects">Projects</a></li>
                <li{% if page.class == 'about' %} class="active"{% endif %}><a href="/about/" title="About Marc Qualie">About</a></li>
                <li><a href="https://twitter.com/marcqualie" title="Follow Marc Qualie on Twitter" target="_blank"><span class="icon-twitter"></span> Follow Me</a></li>
                <li><a href="https://github.com/marcqualie" title="Fork Marc Qualie on Github" target="_blank"><span class="icon-github"></span> Fork Me</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container spacer-top">
    <div class="row">

    <div class="col col-lg-9 blog-post-list">

        {{ content }}

    </div>

    <!-- Sidebar -->
    <div class="col col-lg-3 blog-sidebar">

        <div class="panel panel-primary">
            <h3 class="panel-heading">Recent Posts</h3>
            <ul class="list-nostyle">
                <li><a href="/2013/07/server-backups-with-s3cmd" title="Server Backups with s3cmd">Server Backups with s3cmd</a></li>
                <li><a href="/2013/07/criterion:-a-php-ci-server" title="Criterion: A PHP CI Server">Criterion: A PHP CI Server</a></li>
                <li><a href="/2013/06/homebrew-nginx-tap" title="Homebrew Nginx Tap">Homebrew Nginx Tap</a></li>
                <li><a href="/2013/06/open-source-challenge-complete" title="Open Source Challenge Complete!">Open Source Challenge Complete!</a></li>
                <li><a href="/2013/06/statsd-php-library" title="StatsD PHP Library">StatsD PHP Library</a></li>
            </ul>
        </div>

        <div class="btn-group btn-group-justified">
            <a class="btn btn-success" href="/random/" rel="nofollow"><span class="icon-random"></span> <span class="visible-lg">Random</span></a>
            <a class="btn btn-info" href="/archive/" title="Blog Archive"><span class="icon-folder-close"></span> <span class="visible-lg">Archives</span></a>
            <a class="btn btn-warning" href="/feed/" title="Subscribe to my Feed"><span class="icon-bookmark"></span> <span class="visible-lg">Subscribe</span></a>
        </div>

        <br/>
        <div class="panel panel-info">
            <h3 class="panel-heading">Popular Tags</h3>
            <ul class="list-nostyle popular-tags clearfix">
                <li><a href="/tag/open-source" title="Open Source Posts"><span class="label">Open Source</span></a></li>
                <li><a href="/tag/github" title="Github Posts"><span class="label">Github</span></a></li>
                <li><a href="/tag/php" title="PHP Posts"><span class="label">PHP</span></a></li>
                <li><a href="/tag/git" title="Git Posts"><span class="label">Git</span></a></li>
                <li><a href="/tag/nginx" title="Nginx Posts"><span class="label">Nginx</span></a></li>
                <li><a href="/tag/ruby" title="Ruby Posts"><span class="label">Ruby</span></a></li>
                <li><a href="/tag/criterion" title="Criterion Posts"><span class="label">Criterion</span></a></li>
                <li><a href="/tag/linux" title="Linux Posts"><span class="label">Linux</span></a></li>
                <li><a href="/tag/romhut" title="Romhut Posts"><span class="label">Romhut</span></a></li>
                <li><a href="/tag/digital-ocean" title="Digital Ocean Posts"><span class="label">Digital Ocean</span></a></li>
                <li><a href="/tag/programming" title="Programming Posts"><span class="label">Programming</span></a></li>
                <li><a href="/tag/mongodb" title="MongoDB Posts"><span class="label">MongoDB</span></a></li>
                <li><a href="/tag/mysql" title="MySQL Posts"><span class="label">MySQL</span></a></li>
                <li><a href="/tag/ubuntu" title="Ubuntu Posts"><span class="label">Ubuntu</span></a></li>
                <li><a href="/tag/mobile" title="Mobile Posts"><span class="label">Mobile</span></a></li>
            </ul>
        </div>
    </div>


  </div>
</div>

</body>
</html>
