---
layout: default
class: posts
published: true
---

{% for post in site.posts %}
{% for tag in post.tags %}
{% if tag == page.tag %}
    <div class="post">
        <h2 class="title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <div class="snippet clearfix">
{% if post.thumb %}
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}{{ post.thumb }}" alt="{{ post.title }}" height="90" class="pull-left" style="margin-right:15px"/></a>
{% endif %}
            {{ post.excerpt }}
        </div>
        <div class="clearfix">
            <div class="pull-left">
                <span class="label">{{ post.date | date_to_string }}</span>
            </div>
            <div class="pull-right">
{% for tag in post.tags %}
{% if forloop.index < 4 %}
                <a href="{{ site.url }}/tag/{{ tag | tag_url }}" class="label label-{% if forloop.index == 1 %}success{% else %}info{% endif %}" title="{{ tag }} Posts">{{ tag }}</a>
{% endif %}
{% endfor %}
                <a href="{{ site.url }}{{ post.url }}" class="label" title="3 more tags" rel="nofollow">...</a>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
{% endfor %}
